body {
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

p {
    font-size: 14pt;
}

#container {
    margin-top: 10vh;
    margin-bottom: 5vh;
}

.theme-button-container {
    position: absolute;
    right: 30px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (max-width: 600px) {
    .theme-button-container {
        position: static;
        flex-direction: row;
        width: 100px;
        margin-top: 1vh;
    }
}

.theme-button {
    height: 40px;
    width: 40px;
    display: flex;
    flex-direction: row;
    border: 3px solid white;
    border-radius: 100px;
}

.halfCirclePink{
    height:40px;
    width:20px;
    border-radius: 90px 0 0 90px;
    background:#FFC4FD;
}

.halfCircleOrange{
    height:40px;
    width:20px;
    border-radius: 0 90px 90px 0;
    background:#FFC09F;
}

.halfCircleBlue{
    height:40px;
    width:20px;
    border-radius: 90px 0 0 90px;
    background: #79ADDC;
}

.halfCircleGreen{
    height:40px;
    width:20px;
    border-radius: 0 90px 90px 0;
    background:#9AD5CA;
}

.header-container {
    height: 500px;
    margin-left: 20vw;
    margin-right: 20vw;
    margin-bottom: -10vh;
    justify-content: center;
    align-items: center;
    display: flex;
} 

@media screen and (max-width: 600px) {
    .header-container {
        flex-direction: column-reverse;
        margin-bottom: -5vh;
    }
}

.header-subcontainer {
    margin-left: 3vw;
    margin-right: 3vw;
    justify-content: center;
    align-items: center;
} 

.header {
    font-family: 'Caveat', cursive;
    font-size: 60pt;
    font-weight: 600;
    margin: 0;
}

@media screen and (max-width: 600px) {
    .header {
        font-size: 30pt;
    }
}

.header-2-pink {
    font-size: 12pt;
    color: #FFC09F;
}

.header-2-blue {
    font-size: 12pt;
    color: #9AD5CA;
}

.header-3 {
    font-family: 'Caveat', cursive;
    font-size: 32pt;
    font-weight: 400;
}

.header-4 {
    font-family: 'Caveat', cursive;
    font-size: 24pt;
    font-weight: 400;
    margin-bottom: 3vh;
    margin-top: 3vh;
}

.header-5 {
    font-family: 'Caveat', cursive;
    font-size: 24pt;
    font-weight: 400;
    margin: 0;
}

.contact-button {
    font-family: 'Caveat', cursive;
    font-size: 24pt;
    font-weight: 600;
    margin-bottom: 3vh;
}

.matilda-img {
    width: 50vw;
    max-width: 300px;
}

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 3px;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .contact-container {
        margin-left: 5vw;
        margin-right: 5vw;
    }
}

.divider {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    border-radius: 3px;
    margin-bottom: 10vh;
}

.gh-icon {
    width: 100px;
}

.li-icon {
    width: 120px;
    color: white;
}

.soc-button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: black;
    height: 50px;
    width: 50px;
    border-radius: 100px;
    margin-left: 2vw;
    margin-right: 2vw;
    border: 3px solid black;
}

.soc-button-text {
    font-family: 'Caveat', cursive;
    font-size: 24pt;
    font-weight: 600;
    margin: 0;
}

.body-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 600px) {
    .body-container {
        flex-direction: column;
    }
}

.text-box {
    width: 40vw;
    margin-left: 3vw;
    margin-right: 3vw;

}

@media screen and (max-width: 600px) {
    .text-box {
      width: 90vw;
      margin: 0;
    }
}

.body-top-container-blue {
    background-color: #79ADDC;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.body-top-container-pink {
    background-color: #FFC4FD;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.subheader-text-box {
    width: 50vw;
    margin: 0;
}

@media screen and (max-width: 600px) {
    .subheader-text-box {
      width: 90vw;
      margin: 0;
    }
}

.triangle-container {
    height: 15vh;
    overflow: hidden;
}

.triangle-left-pink{
    position: absolute;
    left: 0;
    border-bottom: 15vh solid #FFC09F;
    border-right: 60vw solid transparent;
}

.triangle-right-pink{
    position: absolute;
    right: 0;
    border-bottom: 15vh solid #FFC4FD;
    border-left: 100vw solid transparent;
}

.triangle-top-left-pink{
    border-top: 15vh solid #FFC4FD;
    border-right: 100vw solid transparent;
}

.triangle-left-blue{
    position: absolute;
    left: 0;
    border-bottom: 15vh solid #9AD5CA;
    border-right: 60vw solid transparent;
}

.triangle-right-blue{
    position: absolute;
    right: 0;
    border-bottom: 15vh solid #79ADDC;
    border-left: 100vw solid transparent;
}

.triangle-top-left-blue{
    border-top: 15vh solid #79ADDC;
    border-right: 100vw solid transparent;
}