body {
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

#container {
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.header-container {
    height: 500px;
    margin-left: 20vw;
    margin-right: 20vw;
    margin-bottom: -10vh;
    justify-content: center;
    align-items: center;
    display: flex;
} 

@media screen and (max-width: 600px) {
    .header-container {
        flex-direction: column-reverse;
        margin-bottom: -5vh;
    }
}

.header-subcontainer {
    margin-left: 3vw;
    margin-right: 3vw;
    justify-content: center;
    align-items: center;
} 

.header {
    font-family: 'Caveat', cursive;
    font-size: 60pt;
    font-weight: 600;
    margin: 0;
}

@media screen and (max-width: 600px) {
    .header {
        font-size: 30pt;
    }
}

.header-2 {
    font-size: 11pt;
    color: #FFC09F;
}

.header-3 {
    font-family: 'Caveat', cursive;
    font-size: 24pt;
    font-weight: 300;
    margin-bottom: 3vh;
    margin-top: 3vh;
}

.matilda-img {
    width: 50vw;
    max-width: 300px;
}

.divider {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    background: rgb(255,192,159);
    background: linear-gradient(198deg, rgba(255,192,159,1) 0%, rgba(255,196,253,1) 63%, rgba(121,173,220,1) 100%);
    border-radius: 3px;
}

.gh-icon {
    width: 100px;
}

.li-icon {
    width: 120px;
    color: white;
}

.soc-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 120px;
    padding: 8px;
    border: 3px solid white;
    border-radius: 3px;
}

.soc-button:hover {
    display: flex;
    background-color: rgba(255,255,255,0.3);
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 120px;
    padding: 8px;
    border: 3px solid white;
    border-radius: 3px;
}

.body-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 600px) {
    .body-container {
        flex-direction: column;
    }
}

.text-box {
    width: 40vw;
    margin-left: 3vw;
    margin-right: 3vw;

}

@media screen and (max-width: 600px) {
    .text-box {
      width: 90vw;
      margin: 0;
    }
}

#body-container-blue {
    background-color: #79ADDC;
    display: flex;
    justify-content: center;
    align-items: center;
}

#body-container-pink {
    background-color: #FFC4FD;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subheader-text-box {
    width: 50vw;
    margin: 0;
}

@media screen and (max-width: 600px) {
    .subheader-text-box {
      width: 90vw;
      margin: 0;
    }
}

.triangle-container {
    height: 15vh;
    overflow: hidden;
}

.triangle-left{
    position: absolute;
    left: 0;
    border-bottom: 15vh solid #FFC09F;
    border-right: 60vw solid transparent;
}

.triangle-right{
    position: absolute;
    right: 0;
    border-bottom: 15vh solid #FFC4FD;
    border-left: 100vw solid transparent;
}

.triangle-top-left{
    border-top: 15vh solid #FFC4FD;
    border-right: 100vw solid transparent;
}